label{
    display: block;
    margin-bottom: 9px;
}
    body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #393e46;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #eeeeee;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #00adb5; 
    text-align: center;
}

form {
    text-align: center;
}

input[type="number"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 10px;
}

input[type="submit"] {
    background-color: #00adb5;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #009688;
}

#calculator-image {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}